@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@300;500&family=Ubuntu:wght@500&display=swap");

:root {
  --heading-font: "Ubuntu", sans-serif;
  --default-font: "Roboto", sans-serif;
  --monospace-font: "Roboto Mono", monospace;

  --eerie-black: #11151c;
  --yankees-blue: #212d40;
  --charcoal: #364156;
  --tuscan-red: #7d4e57;
  --jelly-bean: #d66853;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--default-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: var(--heading-font);
}

input {
  font-family: var(--heading-font);
}

input::placeholder {
  font-family: var(--heading-font);
}

.brand-name,
.brand-logo {
  font-family: var(--monospace-font);
  font-weight: bold;
  text-transform: uppercase;
}

.bg-yankees {
  background-color: var(--yankees-blue);
}

.bg-charcoal {
  background-color: var(--charcoal);
}

.bg-eerie {
  background-color: var(--eerie-black);
}

.bg-tuscan {
  background-color: var(--tuscan-red);
}

.bg-jellybean {
  background-color: var(--jelly-bean);
}

.text-yankees {
  color: var(--yankees-blue);
}

.text-charcoal {
  color: var(--charcoal);
}

.text-eerie {
  color: var(--eerie-black);
}

.text-tuscan {
  color: var(--tuscan-red);
}

.text-jellybean {
  color: var(--jelly-bean);
}

.border-right-none {
  border-right: none !important;
}

.toggle-password-btn {
  padding: 0 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  border: 1px solid lightgray;
  border-left: none;
  background-color: white;
  color: black;
  transition: color 0.2s linear;
}

.toggle-password-btn:active,
.toggle-password-btn:focus {
  outline: none;
}

.toggle-password-btn:hover {
  color: var(--tuscan-red);
}

.btn-rounded {
  border-radius: 100vh !important;
}
