@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Mono:wght@300;500&family=Ubuntu:wght@500&display=swap");

:root {
  --heading-font: "Ubuntu", sans-serif;
  --default-font: "Roboto", sans-serif;
  --monospace-font: "Roboto Mono", monospace;

  --eerie-black: #11151c;
  --yankees-blue: #212d40;
  --charcoal: #364156;
  --tuscan-red: #7d4e57;
  --jelly-bean: #d66853;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--default-font);
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

input,
input::placeholder,
label {
  font-family: var(--default-font);
}

label {
  font-weight: bold;
}

.brand-name,
.brand-logo {
  font-family: var(--monospace-font);
  font-weight: bold;
  text-transform: uppercase;
}

.bg-yankees {
  background-color: var(--yankees-blue);
}

.bg-charcoal {
  background-color: var(--charcoal);
}

.bg-eerie {
  background-color: var(--eerie-black);
}

.bg-tuscan {
  background-color: var(--tuscan-red);
}

.bg-jellybean {
  background-color: var(--jelly-bean);
}

.text-yankees {
  color: var(--yankees-blue);
}

.text-charcoal {
  color: var(--charcoal);
}

.text-eerie {
  color: var(--eerie-black);
}

.text-tuscan {
  color: var(--tuscan-red);
}

.text-jellybean {
  color: var(--jelly-bean);
}

.border-right-none {
  border-right: none !important;
}

.toggle-password-btn {
  padding: 0 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  border: 1px solid lightgray;
  border-left: none;
  background-color: white;
  color: black;
  transition: color 0.2s linear;
}

.toggle-password-btn:active,
.toggle-password-btn:focus {
  outline: none;
}

.toggle-password-btn:hover {
  color: var(--tuscan-red);
}

.btn-rounded {
  border-radius: 100vh !important;
}

.main-area {
  min-height: 100vh;
  padding: 0 20px !important;
}

.main-area-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.7rem 0.5rem;
  background-color: white !important;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.sidebar-toggler-btn {
  width: 30px;
  margin-left: 20px;
  border: none;
  background-color: transparent;
  color: var(--secondary);
  display: none;
}

.sidebar-toggler-btn:focus {
  outline: none;
}

.main-title {
  margin: 0 auto;
  font-family: var(--monospace-font);
}

.side-area-container {
  background-color: white;
  border-radius: 5px;
  padding: 10px !important;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.side-area-container.sticky {
  position: sticky !important;
  top: 0 !important;
}

.side-area-card {
  padding: 10px;
  background-color: var(--light);
  border-radius: 5px;
}

.side-area-card-title {
  font-family: var(--monospace-font);
}

@media screen and (max-width: 767px) {
  .sidebar-toggler-btn {
    display: block;
  }

  .main-area-header .main-title {
    padding-right: 50px;
  }
}
