.post {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.post-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.post-username {
  font-weight: bold;
  font-size: 1.1rem;
}

.post-image {
  height: 48px;
  width: 48px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.post-body {
  position: relative;
}

.post-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-like,
.post-comment,
.post-options {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  outline: none !important;
  border: none !important;
  border-radius: 5px;
  background-color: transparent;
  transition: 0.2s ease-out;
}

.post-like.active,
.post-comment.active,
.post-options.active {
  color: var(--primary);
}

.post-like:hover,
.post-comment:hover,
.post-options:hover,
.post-option:hover {
  background-color: var(--light);
}

.post-options-menu {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
  bottom: 0;
  right: 10px;
}

.post-options {
  transition: 0.1s ease;
}

.post-option {
  border: none !important;
  outline: none !important;
  background-color: transparent;
  text-align: left;
}

.comment-profile-img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.comment-option {
  outline: none !important;
  background-color: transparent;
  border: none !important;
}

.comment-option-danger {
  padding: 0 6px;
  color: var(--danger);
}
