.image-upload-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-upload-label {
  font-family: var(--default-font);
}

.profile-image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}

#image-upload-input {
  display: none;
}
