.profile-picture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.profile-label {
  font-weight: bold;
  margin: 0;
  margin-top: 10px;
}

.profile-info {
  font-weight: bold;
  margin: 0;
}

.profile-bio > p::before,
.profile-bio > p::after {
  content: '"';
  font-family: var(--monospace-font);
  color: black;
}

.profile-tab {
  flex: 1;
  font-size: 1rem;
  padding: 5px 0;
  background-color: white;
  border: none !important;
  outline: none !important;
  font-family: var(--monospace-font);
  border-radius: 5px;
  color: var(--secondary);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.profile-tab:nth-child(2) {
  margin: 0 10px;
}

.profile-tab.active {
  color: var(--primary);
}

.profile-followers,
.profile-following {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.profile-followers-container,
.profile-following-container {
  background-color: var(--light);
  border-radius: 5px;
  padding: 10px;
}

@media screen and (max-width: 567px) {
  .profile-picture {
    width: 180px;
    height: 180px;
  }

  .profile-label,
  .profile-info,
  .profile-bio {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 375px) {
  .profile-picture {
    width: 120px;
    height: 120px;
  }

  .profile-tab {
    font-size: 0.8rem;
  }

  .profile-tab:nth-child(2) {
    margin: 0 5px;
  }
}
