.main-area {
  min-height: 100vh;
}

.main-area-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.7rem 0.5rem;
  border-bottom: 1px solid gray;
}

.sidebar-toggler-btn {
  width: 30px;
  margin-left: 20px;
  border: none;
  background-color: transparent;
  color: var(--secondary);
  display: none;
}

.sidebar-toggler-btn:focus {
  outline: none;
}

.main-title {
  margin: 0 auto;
}

.image-upload-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-upload-label {
  font-family: var(--default-font);
}

.profile-image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}

#image-upload-input {
  display: none;
}
